@font-face {
    font-family: "inter" ;
    src: url(../fonts/Inter-SemiBold.ttf)
}
@font-face {
    font-family: "medium" ;
    src: url(../fonts/Rubik-Medium.ttf)
}
@font-face {
    font-family: "regular" ;
    src: url(../fonts/Rubik-Regular.ttf)
}
@font-face {
    font-family: "semibold" ;
    src: url(../fonts/Rubik-SemiBold.ttf)
}